<header>
  <div><a href="/">MONTRE CONNEXION</a></div>
  <nav>
    <ul>
      <% if (locals.isAuth) { %>
      <li>
        <button>Logout</button>
      </li>
      <% } %>
    </ul>
  </nav>
</header>
