<%- include('../../shared/includes/head', { pageTitle: 'All Products' }) %>
<meta name="description" content="Montre Connexion is an online shop that sells a lot of connected watches and bracelets for men, women & children. Let's buy now!" />
<link rel="stylesheet" href="/styles/products.css">
</head>
<body>
  <%- include('../../shared/includes/header') %>
  <main>
    <h1>All Products</h1>
    <ul id="products-grid">
      <% for (const product of products) { %>
        <li>
          <%- include('../../shared/includes/product-item', { product: product }) %>
        </li>
      <% } %>
    </ul>
  </main>
<%- include('../../shared/includes/footer') %>